<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Demo</display-name>
   <filter><!--过滤器配置-->
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>com.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  <servlet><!--servlet类路径配置-->
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherLoginServlet</servlet-name>
    <servlet-class>com.servlet.TeacherLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalShowServlet</servlet-name>
    <servlet-class>com.servlet.PersonalShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentPersonalUpdateServlet</servlet-name>
    <servlet-class>com.servlet.StudentPersonalUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminControlStudent</servlet-name>
    <servlet-class>com.servlet.AdminControlStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminControlStudentServlet</servlet-name>
    <servlet-class>com.servlet.AdminControlStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherPersonalUpdateServlet</servlet-name>
    <servlet-class>com.servlet.TeacherPersonalUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherPersonalShowServlet</servlet-name>
    <servlet-class>com.servlet.TeacherPersonalShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminControlTeacher</servlet-name>
    <servlet-class>com.servlet.AdminControlTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminControlTeacherServlet</servlet-name>
    <servlet-class>com.servlet.AdminControlTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherDeleteServlet</servlet-name>
    <servlet-class>com.servlet.TeacherDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherAddServlet</servlet-name>
    <servlet-class>com.servlet.TeacherAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentAddServlet</servlet-name>
    <servlet-class>com.servlet.StudentAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentUpdateNoteServlet</servlet-name>
    <servlet-class>com.servlet.StudentUpdateNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChatPublishServlet</servlet-name>
    <servlet-class>com.servlet.ChatPublishServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>com.servlet.ChatServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReplyPublishServlet</servlet-name>
    <servlet-class>com.servlet.ReplyPublishServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChatMakeServlet</servlet-name>
    <servlet-class>com.servlet.ChatMakeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentSearchServlet</servlet-name>
    <servlet-class>com.servlet.StudentSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherSearchServlet</servlet-name>
    <servlet-class>com.servlet.TeacherSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPractiseServlet</servlet-name>
    <servlet-class>com.servlet.AddPractiseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePractiseServlet</servlet-name>
    <servlet-class>com.servlet.DeletePractiseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePractiseServlet</servlet-name>
    <servlet-class>com.servlet.UpdatePractiseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchByTid</servlet-name>
    <servlet-class>com.servlet.SearchByTid</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchByPchapter</servlet-name>
    <servlet-class>com.servlet.SearchByPchapter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchByPdifficult</servlet-name>
    <servlet-class>com.servlet.SearchByPdifficult</servlet-class>
  </servlet>
 
 
 
  <servlet-mapping><!--servlet类映射配置-->
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherLoginServlet</servlet-name>
    <url-pattern>/TeacherLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalShowServlet</servlet-name>
    <url-pattern>/PersonalShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentPersonalUpdateServlet</servlet-name>
    <url-pattern>/StudentPersonalUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminControlStudentServlet</servlet-name>
    <url-pattern>/AdminControlStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminControlStudent</servlet-name>
    <url-pattern>/AdminControlStudent</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>TeacherPersonalUpdateServlet</servlet-name>
    <url-pattern>/TeacherPersonalUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherPersonalShowServlet</servlet-name>
    <url-pattern>/TeacherPersonalShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminControlTeacher</servlet-name>
    <url-pattern>/AdminControlTeacher</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>AdminControlTeacherServlet</servlet-name>
    <url-pattern>/AdminControlTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherDeleteServlet</servlet-name>
    <url-pattern>/TeacherDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAddServlet</servlet-name>
    <url-pattern>/TeacherAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentAddServlet</servlet-name>
    <url-pattern>/StudentAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentUpdateNoteServlet</servlet-name>
    <url-pattern>/StudentUpdateNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChatPublishServlet</servlet-name>
    <url-pattern>/ChatPublishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyPublishServlet</servlet-name>
    <url-pattern>/ReplyPublishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChatMakeServlet</servlet-name>
    <url-pattern>/ChatMakeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentSearchServlet</servlet-name>
    <url-pattern>/StudentSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherSearchServlet</servlet-name>
    <url-pattern>/TeacherSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPractiseServlet</servlet-name>
    <url-pattern>/AddPractiseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePractiseServlet</servlet-name>
    <url-pattern>/DeletePractiseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePractiseServlet</servlet-name>
    <url-pattern>/UpdatePractiseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchByTid</servlet-name>
    <url-pattern>/SearchByTid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchByPchapter</servlet-name>
    <url-pattern>/SearchByPchapter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchByPdifficult</servlet-name>
    <url-pattern>/SearchByPdifficult</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list><!--默认首页地址-->
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
