USE [master]
GO
/****** Object:  Database [精品课程系统]    Script Date: 2018-10-15 7:56:00 ******/
CREATE DATABASE [精品课程系统]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'精品课程系统', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\精品课程系统.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'精品课程系统_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\精品课程系统_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [精品课程系统].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [精品课程系统]
GO
USE [精品课程系统]
GO
/****** Object:  Table [dbo].[adminLog]    Script Date: 2018-10-15 7:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adminLog](
	[sno] [char](20) NOT NULL,
	[spassword] [char](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adminRegister]    Script Date: 2018-10-15 7:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adminRegister](
	[sno] [char](20) NOT NULL,
	[sphone] [char](20) NOT NULL,
	[semail] [char](30) NOT NULL,
	[spassword] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[studentLog]    Script Date: 2018-10-15 7:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studentLog](
	[sno] [char](20) NOT NULL,
	[spassword] [char](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[studentRegister]    Script Date: 2018-10-15 7:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studentRegister](
	[sno] [char](20) NOT NULL,
	[sphone] [char](20) NOT NULL,
	[semail] [char](30) NOT NULL,
	[spassword] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacherLog]    Script Date: 2018-10-15 7:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacherLog](
	[sno] [char](20) NOT NULL,
	[spassword] [char](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacherRegister]    Script Date: 2018-10-15 7:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacherRegister](
	[sno] [char](20) NOT NULL,
	[sphone] [char](20) NOT NULL,
	[semail] [char](30) NOT NULL,
	[spassword] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adminLog]  WITH CHECK ADD FOREIGN KEY([sno])
REFERENCES [dbo].[adminRegister] ([sno])
GO
ALTER TABLE [dbo].[studentLog]  WITH CHECK ADD FOREIGN KEY([sno])
REFERENCES [dbo].[studentRegister] ([sno])
GO
ALTER TABLE [dbo].[teacherLog]  WITH CHECK ADD FOREIGN KEY([sno])
REFERENCES [dbo].[teacherRegister] ([sno])
GO
USE [master]
GO
