*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font: 14px/1.5 "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: 1.5;
    font-family: "PingFang SC", 微软雅黑, "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
    color: #1c1f21;
}
li{
	list-style: none;
}

header{
	width: 100%;
	height: 10%;
	background: #3c3c3c;
	color: white;
}
.tlt{
	float: left;
	font-family: 隶书;
	font-size: 30px;
	margin-left: 20px;
	margin-top: 18px;
	margin-right: 60px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: white;
}
.ul1>li{
	width: 120px;
	height: 73px;
	float: left;
	font-size: 18px;
	font-family: 微软雅黑;
	line-height: 73px;
	display: inline-block;
}
.ul1>li>a:hover{
	color: #53ff53;
}
.ul1>li:hover>ul{
	display: block;
}
.a52:visited{
	color: red;
}
.back{
	position: absolute;
	font-size: 15px;
	font-family: 微软雅黑;
	right: 46px;
	top: 28px;
}
.back:hover{
	text-decoration: underline;
	color: red;
}

section{
	width: 100%;
	height: 190%;
	background-color: #f7fcff;
}
#div1{
	height: 8%;
	text-align: center;
	clear: both;
	background-color: white;
}
#div1 span{
	font: 32px 微软雅黑;
	line-height: 100px;
}
#div2{
	width: 50%;
	height: 87%;
	margin-top: 20px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: darkgray 0px 3px 8px 3px;
	margin-left: 25%;
	background-color: white;
}
#div2 hr{
	width: 90%;
	margin-left: 5%;
}
.hh1{
	display: block;
	font: bolder 17px 微软雅黑;
	width: 90%;
	margin-left: 5%;
	margin-top: 15px;
}
.pp1{
	display: block;
	text-indent: 2em;
	font: 15px 微软雅黑;
	width: 90%;
	margin-left: 5%;
	line-height: 30px;
}

#cebian{
	position: fixed;
	right: 3px;
	top: 30%;
	box-shadow: darkgray -3px 2px 2px 2px; 
}
.div1{
	width: 50px;
	height: 50px; 
	border-bottom: 0.5px solid darkgray;
}
.cebian1{
	width: 20px;
	height: 20px;
	margin-top: 15px;
	margin-left: 15px;
}
.sp{
	display: none;
}
.div1:hover{
	cursor: pointer;
}
.div1:hover>span{
	display: block;
	font: 12px 微软雅黑;
	color: black;
	margin-left: 13px;
	margin-top: 13px;
}
.div1:hover>img{
	display: none;
}

footer{
	width: 100%;
	height: 20%;
	background: #3c3c3c;
	color: white;
}
.tlt2{
	float: left;
	font-family: 隶书;
	font-size: 30px;
	margin-left: 100px;
	margin-top: 40px;
	margin-right: 150px;
	background: -webkit-gradient(linear, left top, right top, 
		color-stop(.4, white), color-stop(.5, black), color-stop(.6, white));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: animate 1.5s infinite;
}
@-webkit-keyframes animate {
    from {background-position: -100px;}
    to {background-position: 100px;}
}
@keyframes animate {
    from {background-position: -100px;}
    to {background-position: 100px;}
}
.ul2>li{
	list-style: square inside;
	margin-top: 50px;
	margin-left: 20px;
	float: left;
}
.ul2>li>a{
	font-size: 15px;
	font-family: 微软雅黑;
}
.ul2>li>a:hover{
	color: #53ff53;
}
.sp1{
	font-family: 宋体;
	font-size: 10px;
	margin-left: 38%;
}
.sp2{
	font-family: 宋体;
	font-size: 10px;
	margin-left: 45%;
}