*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font: 14px/1.5 "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: 1.5;
    font-family: "PingFang SC", 微软雅黑, "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
    color: #1c1f21;
}
li{
	list-style: none;
}

header{
	width: 100%;
	height: 10%;
	background: #3c3c3c;
	color: white;
}
.tlt{
	float: left;
	font-family: 隶书;
	font-size: 30px;
	margin-left: 20px;
	margin-top: 18px;
	margin-right: 60px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: white;
}
.ul1>li{
	width: 120px;
	height: 73px;
	float: left;
	font-size: 18px;
	font-family: 微软雅黑;
	line-height: 73px;
	display: inline-block;
}
.ul1>li>a:hover{
	color: #53ff53;
}
.ul1>li:hover>ul{
	display: block;
}
.a52:visited{
	color: red;
}
.back{
	position: absolute;
	font-size: 15px;
	font-family: 微软雅黑;
	right: 46px;
	top: 28px;
}
.back:hover{
	text-decoration: underline;
	color: red;
}

aside{
	width: 250px;
	height: 600px;
	position: absolute;
	margin-top: 3%;
	margin-left: 10%;
	background-color: #dde4ea;
}
.use2 li a{
	color: black;
}
.img1{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: 75px;
	margin-top: 15px;
}
.img2{
	width: 22px;
	height: 22px;
	margin-left: 100px;
}
.li1{
	width: 250px;
	height: 78px;
	display: block;
	font: 18px 微软雅黑;
	text-align: center;
	line-height: 78px;
	cursor: pointer;
}
.li1:hover{
	background: #b7c0ca;
}
#cebian{
	position: fixed;
	right: 3px;
	top: 30%;
	box-shadow: darkgray -3px 2px 2px 2px; 
}
.div1{
	width: 50px;
	height: 50px; 
	border-bottom: 0.5px solid darkgray;
}
.cebian1{
	width: 20px;
	height: 20px;
	margin-top: 15px;
	margin-left: 15px;
}
.sp{
	display: none;
}
.div1:hover{
	cursor: pointer;
}
.div1:hover>span{
	display: block;
	font: 12px 微软雅黑;
	color: black;
	margin-left: 13px;
	margin-top: 13px;
}
.div1:hover>img{
	display: none;
}

section{
	width: auto;
	height: 100%;
}
#per{
	position: absolute;
	margin-left: 30%;
	margin-top: 2.4%;
	display: block;
}
.per{
	border-bottom: 1px solid #d9dde1;
    width: 800px;
    height: 100px;
}
.nameleft{
	width: 140px;
    line-height: 30px;
    padding: 20px 0;
    text-align: center;
    background-color: #f3f5f7;
    color: #07111b;
    font-weight: 700;
    border-left: 2px solid #000;
    float: left;
    margin-top: 10px;
}
.nameright{
	float: left;
    line-height: 40px;
    margin-left: 60px;
}
#note,#schedule,#help{
	position: absolute;
	margin-left: 30%;
	margin-top: 2.8%;
	display: none;
}
#note hr,#schedule hr,#help hr{
	width: 800px;
	color: #d9dde1;
}
.biji{
	border-bottom: 1px solid #c9c9c9;
}
.span2{
	font: bolder 20px 微软雅黑;
	display: block;
}
.helpAll{
	width: 800px;
	height: 230px;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: darkgray 0px 3px 8px 3px;
}
.helpAll .namebottom{
	list-style: disc;
	float: left;
	margin-top: 65px;
	margin-left: 50px;
	width: 150px;
}
.helpAll .namebottom a{
	margin-top: 8px;
	font: 16px 微软雅黑;
	color: black;
}
.helpAll .namebottom a:hover{
	color: red;
}

footer{
	width: 100%;
	height: 20%;
	background: #3c3c3c;
	color: white;
}
.tlt2{
	float: left;
	font-family: 隶书;
	font-size: 30px;
	margin-left: 100px;
	margin-top: 40px;
	margin-right: 150px;
	background: -webkit-gradient(linear, left top, right top, 
		color-stop(.4, white), color-stop(.5, black), color-stop(.6, white));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: animate 1.5s infinite;
}
@-webkit-keyframes animate {
    from {background-position: -100px;}
    to {background-position: 100px;}
}
@keyframes animate {
    from {background-position: -100px;}
    to {background-position: 100px;}
}
.ul2>li{
	list-style: square inside;
	margin-top: 50px;
	margin-left: 25px;
	float: left;
}
.ul2>li>a{
	font-size: 15px;
	font-family: 微软雅黑;
}
.ul2>li>a:hover{
	color: #53ff53;
}
.sp1{
	font-family: 宋体;
	font-size: 10px;
	margin-left: 38%;
}
.sp2{
	font-family: 宋体;
	font-size: 10px;
	margin-left: 45%;
}