*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font: 14px/1.5 "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: 1.5;
    font-family: "PingFang SC", 微软雅黑, "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
    color: #1c1f21;
}
li{
	list-style: none;
}

header{
	width: 100%;
	height: 10%;
	background: #3c3c3c;
	color: white;
}
.tlt{
	float: left;
	font-family: 隶书;
	font-size: 30px;
	margin-left: 20px;
	margin-top: 18px;
	margin-right: 60px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: white;
}
.ul1>li{
	float: left;
}
.ul1>li>a{
	font-size: 18px;
	font-family: 微软雅黑;
	margin-left: 60px;
	line-height: 80px;
}
.ul1>li>a:hover{
	color: #53ff53;
}
.inp1{
	width: 300px;
	border: 1px solid #53ff53;
	height: 30px;
	margin-left: 100px;
	margin-top: 25px;
}
.inp2{
	width: 50px;
	height: 32px;
	background: #53ff53;
	border: 0px;
	margin-left: 0;
}
.back{
	margin-left: 340px;
	line-height: 70px;
	font-size: 15px;
	font-family: 微软雅黑;
}
.back:hover{
	text-decoration: underline;
}

section{
	width: 100%;
	height: 70%;
}
.contain{
	width: 640px;
	margin: 0px 250px 0px 200px;
	font-size: 14px;
	float: left;
}
.contain>h1{
	font-family: 微软雅黑;
	font-size: 23px;
}
.contain>h2{
	font-family: 微软雅黑;
	font-size: 18px;
}
.controlWrap{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.play{
	float: left;
	width: 60px;
	height: 30px;
	background: #00b0e8;
	border-radius: 2px;
	color: #ffffff;
	cursor: pointer;
}
.now{
	float: left;
	width: 60px;
	height: 30px;
	color: #666;
}
.split{
	float: left;
	width: 20px;
	height: 30px;
	color: #333333;
}
.all{
	float: left;
	width: 60px;
	height: 30px;
	color: #666;
}
.voice{
	float: left;
	width: 30px;
	height: 20px;
	line-height: 20px;
	margin: 5px 0px 5px 5px;
	color: #333333;
	border: 1px solid #e1e1e1;
	cursor: pointer;
}
.vol{
	float: left;
	width: 60px;
	height: 30px;
	color: #666;
}

#box{
	width: 280px;
	height: 90%;
	float: left;
	margin-top: 1%;
	overflow: hidden;
}
#contain2{
	overflow: auto;
	width: 300px;
	height: 100%;
}
.mulu1{
	cursor: pointer;
}
.mulu1>li{
	margin-top: 8px;
}
.mulu1>li:hover{
	color: #00b0e8;
}

footer{
	width: 100%;
	height: 20%;
	background: #3c3c3c;
	color: white;
	position: fixed;
	bottom: 0px;
}
.tlt2{
	float: left;
	font-family: 隶书;
	font-size: 30px;
	margin-left: 100px;
	margin-top: 40px;
	margin-right: 150px;
	background: -webkit-gradient(linear, left top, right top, 
		color-stop(.4, white), color-stop(.5, black), color-stop(.6, white));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: animate 1.5s infinite;
}
@-webkit-keyframes animate {
    from {background-position: -100px;}
    to {background-position: 100px;}
}
@keyframes animate {
    from {background-position: -100px;}
    to {background-position: 100px;}
}
.ul2>li{
	list-style: square inside;
	margin-top: 50px;
	margin-left: 25px;
	float: left;
}
.ul2>li>a{
	font-size: 15px;
	font-family: 微软雅黑;
}
.ul2>li>a:hover{
	color: #53ff53;
}
.sp1{
	font-family: 宋体;
	font-size: 10px;
	margin-left: 38%;
}
.sp2{
	font-family: 宋体;
	font-size: 10px;
	margin-left: 45%;
}